In [1]:
import pandas

In [45]:
df = pandas.read_csv('./daily_weather.csv')

In [46]:
df

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000
...,...,...,...,...,...,...,...,...,...,...,...
1090,1090,918.900000,63.104000,192.900000,3.869906,207.300000,5.212070,0.0,0.0,26.020000,38.180000
1091,1091,918.710000,49.568000,241.600000,1.811921,227.400000,2.371156,0.0,0.0,90.350000,73.340000
1092,1092,916.600000,71.096000,189.300000,3.064608,200.800000,3.892276,0.0,0.0,45.590000,52.310000
1093,1093,912.600000,58.406000,172.700000,3.825167,189.100000,4.764682,0.0,0.0,64.840000,58.280000
1094,1094,921.530000,77.702000,97.100000,3.265932,125.900000,4.451511,0.0,0.0,14.560000,15.100000

In [47]:
df.columns #access column

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [48]:
#to access row
df.index

RangeIndex(start=0, stop=1095, step=1)

In [49]:
#body of the dataframe
df.values

array([[0.00000000e+00, 9.18060000e+02, 7.48220000e+01, ...,
        0.00000000e+00, 4.24200000e+01, 3.61600000e+01],
       [1.00000000e+00, 9.17347688e+02, 7.14038426e+01, ...,
        0.00000000e+00, 2.43286973e+01, 1.94265968e+01],
       [2.00000000e+00, 9.23040000e+02, 6.06380000e+01, ...,
        2.00000000e+01, 8.90000000e+00, 1.44600000e+01],
       ...,
       [1.09200000e+03, 9.16600000e+02, 7.10960000e+01, ...,
        0.00000000e+00, 4.55900000e+01, 5.23100000e+01],
       [1.09300000e+03, 9.12600000e+02, 5.84060000e+01, ...,
        0.00000000e+00, 6.48400000e+01, 5.82800000e+01],
       [1.09400000e+03, 9.21530000e+02, 7.77020000e+01, ...,
        0.00000000e+00, 1.45600000e+01, 1.51000000e+01]])

In [50]:

type(df) #dataframe

pandas.core.frame.DataFrame

In [51]:
df.shape

(1095, 11)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   number                  1095 non-null   int64
 1   air_pressure_9am        1092 non-null   float64
 2   air_temp_9am            1090 non-null   float64
 3   avg_wind_direction_9am  1091 non-null   float64
 4   avg_wind_speed_9am      1092 non-null   float64
 5   max_wind_direction_9am  1092 non-null   float64
 6   max_wind_speed_9am      1091 non-null   float64
 7   rain_accumulation_9am   1089 non-null   float64
 8   rain_duration_9am       1092 non-null   float64
 9   relative_humidity_9am   1095 non-null   float64
 10  relative_humidity_3pm   1095 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 94.2 KB

In [53]:
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [54]:
#to use single column
df['air_temp_9am']

0       74.822000
1       71.403843
2       60.638000
3       70.138895
4       44.294000
          ...
1090    63.104000
1091    49.568000
1092    71.096000
1093    58.406000
1094    77.702000
Name: air_temp_9am, Length: 1095, dtype: float64

In [55]:
# we can save this to a variable
am_airtemp_df = df['air_temp_9am']

In [56]:
am_airtemp_df.head()

0    74.822000
1    71.403843
2    60.638000
3    70.138895
4    44.294000
Name: air_temp_9am, dtype: float64

In [57]:
# single column is a series
type(am_airtemp_df)

pandas.core.series.Series

In [60]:
#specify multiple things using python list (as subset of those columns)
subset = df[['air_temp_9am', 'air_pressure_9am','avg_wind_speed_9am']]

In [61]:
subset.head()  #subset

   air_temp_9am  air_pressure_9am  avg_wind_speed_9am
0     74.822000        918.060000            2.080354
1     71.403843        917.347688            2.443009
2     60.638000        923.040000           17.067852
3     70.138895        920.502751            4.337363
4     44.294000        921.160000            1.856660

In [62]:
pandas.__version__ #useful to get help from community

'1.0.1'

In [63]:
#how to subset the row
df.loc[3]

number                      3.000000
air_pressure_9am          920.502751
air_temp_9am               70.138895
avg_wind_direction_9am    198.832133
avg_wind_speed_9am          4.337363
max_wind_direction_9am    211.203341
max_wind_speed_9am          5.190045
rain_accumulation_9am       0.000000
rain_duration_9am           0.000000
relative_humidity_9am      12.189102
relative_humidity_3pm      12.742547
Name: 3, dtype: float64

In [64]:
df.loc[[2.0]]

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
2.0,2,923.04,60.638,51.0,17.067852,63.7,22.100967,0.0,20.0,8.9,14.46

In [65]:
df.iloc[2]

number                      2.000000
air_pressure_9am          923.040000
air_temp_9am               60.638000
avg_wind_direction_9am     51.000000
avg_wind_speed_9am         17.067852
max_wind_direction_9am     63.700000
max_wind_speed_9am         22.100967
rain_accumulation_9am       0.000000
rain_duration_9am          20.000000
relative_humidity_9am       8.900000
relative_humidity_3pm      14.460000
Name: 2, dtype: float64

In [66]:
df.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [67]:
subset = df.loc[:,['avg_wind_speed_9am','air_temp_9am']]

In [68]:
subset.head()

   avg_wind_speed_9am  air_temp_9am
0            2.080354     74.822000
1            2.443009     71.403843
2           17.067852     60.638000
3            4.337363     70.138895
4            1.856660     44.294000

In [69]:
1_000_000

1000000

In [71]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[2, 3], [5, 6], [8, 9]],     
index=['cobra', 'viper', 'sidewinder'],     
columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               2       3
viper               5       6
sidewinder          8       9

In [72]:
df.loc['viper']

max_speed    5
shield       6
Name: viper, dtype: int64

In [73]:
df.loc[['viper','sidewinder']]

            max_speed  shield
viper               5       6
sidewinder          8       9

In [74]:
df.loc['cobra','shield']

3

In [76]:
df.loc['cobra':'viper','max_speed']

cobra    2
viper    5
Name: max_speed, dtype: int64

In [77]:
df.loc[[False,False, True]]

            max_speed  shield
sidewinder          8       9

In [78]:
df.loc[df['shield']>6]

            max_speed  shield
sidewinder          8       9

In [79]:
df.loc[df['shield']>6, ['max_speed']]

            max_speed
sidewinder          8

In [80]:
df.loc[['viper', 'sidewinder'], ['shield']] = 30
df

            max_speed  shield
cobra               2       3
viper               5      30
sidewinder          8      30

In [81]:
df.loc['cobra'] =10
df

            max_speed  shield
cobra              10      10
viper               5      30
sidewinder          8      30

In [82]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      30
sidewinder         30      30

In [84]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper              30      30
sidewinder         30      30

In [85]:
df = pd.DataFrame([[2, 3], [5, 6], [8, 9]],
     index=[2, 3, 4], columns=['max_speed', 'shield'])
df

   max_speed  shield
2          2       3
3          5       6
4          8       9

In [86]:
df.loc[2:4]

   max_speed  shield
2          2       3
3          5       6
4          8       9

In [87]:
tuples = [
   ('cobra', 'm1'), ('cobra', 'm2'),
   ('sidewinder', 'm1'), ('sidewinder', 'm2'),
   ('viper', 'm2'), ('viper', 'm3')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[14, 4], [0, 6], [20, 30],
         [2, 4], [5, 1], [26, 46]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

               max_speed  shield
cobra      m1         14       4
           m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1
           m3         26      46

In [88]:
df.loc['cobra']

    max_speed  shield
m1         14       4
m2          0       6

In [89]:
df.loc[('cobra','m1')]

max_speed    14
shield        4
Name: (cobra, m1), dtype: int64

In [90]:
df.loc[('cobra','m2')]

max_speed    0
shield       6
Name: (cobra, m2), dtype: int64

In [91]:
df.loc[[('cobra', 'm2')]]

          max_speed  shield
cobra m2          0       6

In [92]:
df.loc[('cobra', 'm1'), 'shield']

4

In [ ]:
df.loc[('cobra', 'm1'):'viper']